.Rproj.user
.Rhistory
.RData
.Ruserdata
author_performance.rds
redundant_codes.R
notes.md
*.rds
*.RDS

.Supplementary_cache/
.Supplementary_files/
.Manuscript_files/
.Manuscript_cache/
.figures/
.manual*qualitative/